<h1>Smartgrid Comparisons</h1>

<h2>Number of ...</h2>
<form action = "/dash/number_of_comparison/" method = "get" target="_self">
  Data:
  <input type = "radio" name="data" value = "Region"> Region</input>
  <input type = "radio" name="data" value = "Aggregator"> Aggregator</input>
  <input type = "radio" name="data" value = "Neighborhood"> Neighborhood</input>
  <input type = "radio" name="data" value = "House"> House</input>
  <input type = "radio" name="data" value = "Appliance"> Appliance</input>
  <input type = "radio" name="data" value = "Readings"> Reading</input>
  <br>

  <input type = "submit" value = "Submit"></input>
</form>

{% if number_of %}
  <p>Number of {{data}} = {{number_of}}</p>
{% else %}
  <p>Number of {{data}} = {{number_of}}</p>
{% endif %}

<form action="/dash/comparisons/">
  <input type="submit" value="Reset" />
</form>
