{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Smartgrid Dash{% endblock title %}</title>
    {% block library %}{% endblock library %}
  </head>
  <body>
    <h1>Smartgrid Dash</h1>
    <h2>Smartgrid Statistics</h2>
    <form method="get">
      {{form}}
    </form>
    <form action = "/dash/dash_statistics_mean_1/" method = "get">
      <input type = "submit" value = "Mean"  target="_self"/>
    </form>
    <form action = "/dash/dash_statistics_stdev/" method = "get">
      <input type = "submit" value = "Standard Deviation"  target="_self"/>
    </form>
    {% block statistic %}
    {% endblock statistic %}
    {% block statistic_javascript %}
    {% endblock statistic_javascript %}
  </body>
</html>
