<!-- All tags with the form "bracket" "percent" extends "percent" "bracket" are
     template tags. This means that another
     HTML file can extend the template. This is how the app fills the web page
     with different html based on user selections. For more information checkout
     "template extending" on Google-->

{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Smartgrid Dash{% endblock title %}</title>
    {% block library %}{% endblock library %}
  </head>
  <body>
    <h1>Smartgrid Dash</h1>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }}"><strong>Message: </strong>{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %}

    <h2>Smartgrid Statistics</h2>
    <form action = "/dash/dash_statistics_mean_1/" method = "get">
      <input type = "submit" value = "Mean"  target="_self"/>
    </form>
    {% block statistic %}
    {% endblock statistic %}
    {% block statistic_javascript %}
    {% endblock statistic_javascript %}

    <h2>Smartgrid Data</h2>
    <form action = "/dash/dash_load_data1/" method = "get">
      <input type = "submit" value = "Upload Data"  target="_self"/>
    </form>
    {% block upload_data %}
    {% endblock upload_data %}
  </body>
</html>
