{% extends "dash/dash.html" %}

<!-- library block imports jquery library which makes some of the scripts below work -->
{% block library %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endblock library %}

{% block statistic %}
  <h3>Mean: Form 2</h3>

  <form id="mean_statistic_form_2" action = "dash_statistics_mean_solution/" method="get">

    <label for="form_1_position">Position: </label>
    <input id="form_1_position" type="text" name="form_1_position" value="{{ position_selection }}" readonly="readonly"/>
    <br>

    <label for="form_1_measurement">Measurement: </label>
    <input id="form_1_measurement" type="text" name="form_1_measurement" value="{{ measurement_selection }}" readonly="readonly"/>
    <br>

    <label for="form_1_modifier">Modifier: </label>
    <input id="form_1_modifier" type="text" name="form_1_modifier" value="{{ modifier_selection }}" readonly="readonly"/>
    <br>

    <label for="form_1_time_period">Time Period: </label>
    <input id="form_1_time_period" type="text" name="form_1_time_period" value="{{ time_period_selection }}" readonly="readonly"/>
    <br>

    {{mean_statistic_form_2|linebreaks}}
    <input type = "submit" value = "Submit"  target="_self"/>
  </form>

{% endblock statistic %}
