{% extends "dash/dash.html" %}

<!-- library block imports jquery library which makes some of the scripts below work -->
{% block library %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endblock library %}

{% block statistic %}
  <h3>Mean: Form 1</h3>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <p class="{{ message.tags }}"><strong>Message: </strong>{{ message }}</p>
    {% endfor %}
  </ul>
  {% endif %}

  <form id="mean_statistic_form_1" action = "dash_statistics_mean_2/" method="get">
    {{mean_statistic_form_1|linebreaks}}
    <input type = "submit" value = "Submit"  target="_self"/>
  </form>

  <form id="reset" action="/dash/dash_statistics_mean_1/">
    <input type="submit" value="Reset" />
  </form>
{% endblock statistic %}

{% block statistic_javascript %}
<script>
//Stop the submit button for normal function and call AJAX function
  // calculate mean on submit of mean_statistic form
  $('#mean_statistic_form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    mean_statistic_function();
  });
  //AJAX function for finding mean statistic. Allows for data to change without page reloading
  function mean_statistic_function(){
    console.log("mean_statistic_function is working!") //sanity check
    $.ajax({
        url: "dash/mean_statistic/",
        type: "GET",
        data: { metric: $('input[name=metric]:checked', '#mean_statistic_form').val(), data: $('input[name=data]:checked', '#mean_statistic_form').val()},
        success: function(json){
          console.log(json);
          console.log("success");
        },
        error: function(xhr,errmsg,err){
          console.log(xhr.status + ": " + xhr.responseText);
        }
      }
    });
  };
</script>
{% endblock statistic_javascript %}
