{% extends "dash/dash.html" %}

{% block statistic %}
  <h2>Smartgrid Statistics</h2>
  <h3>Mean: Form 2</h3>

  <form id="statistic_form_2" action = "dash_statistics_solution/" method="get">

    <label for="form_1_statistic">Position: </label>
    <input id="form_1_statistic" type="text" name="form_1_statistic" value="{{ statistic_selection }}" readonly="readonly"/>
    <br>

    <label for="form_1_position">Position: </label>
    <input id="form_1_position" type="text" name="form_1_position" value="{{ position_selection }}" readonly="readonly"/>
    <br>

    <label for="form_1_measurement">Measurement: </label>
    <input id="form_1_measurement" type="text" name="form_1_measurement" value="{{ measurement_selection }}" readonly="readonly"/>
    <br>

    <label for="form_1_time_period">Time Period: </label>
    <input id="form_1_time_period" type="text" name="form_1_time_period" value="{{ time_period_selection }}" readonly="readonly"/>
    <br>

    {{statistic_form_2|linebreaks}}
    <input type = "submit" value = "Submit"  target="_self"/>
  </form>

  <form id="reset" action="/dash/dash_statistics_1/">
    <input type="submit" value="Statistics Reset" />
  </form>

{% endblock statistic %}
