{% extends "dash/dash.html" %}

<!-- library block imports jquery library which makes some of the scripts below work -->
{% block library %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endblock library %}

{% block statistic %}
  <h3>Mean</h3>
  <form id="mean-statistic" action = "/dash/mean_statistic/" method = "get">
     Metric:
        <input type = "radio" name="metric" value = "consumption"> Consumption</input>
        <input type = "radio" name="metric" value = "kWh"> kWh</input>
        <input type = "radio" name="metric" value = "outdoor_temp"> Outdoor Temperature</input>
        <br>

    Data:
    <input type = "radio" name="data" value = "Region"> Region</input>
    <input type = "radio" name="data" value = "Aggregator"> Aggregator</input>
    <input type = "radio" name="data" value = "Neighborhood"> Neighborhood</input>
    <input type = "radio" name="data" value = "House"> House</input>
    <input type = "radio" name="data" value = "Appliance"> Appliance</input>
    <input type = "radio" name="data" value = "Readings"> Reading</input>
    <br>

    <input type = "submit" value = "Find Mean"/>
  </form>

  {% if mean_items >= 1 %}
    <p>Mean {{metric}} per {{data}} = {{mean_items}}</p>
  {% endif %}
  {% if mean_items == -1 %}
  <p>{{data}} does not have a {{metric}} field. Please try again.</p>
  {% endif %}

  <form id="reset" action="/dash/dash_statistics_mean/">
    <input type="submit" value="Reset" />
  </form>
{% endblock statistic %}

{% block statistic_javascript %}
<script>
//Stop the submit button for normal function and call AJAX function
  // calculate mean on submit of mean_statistic form
  $('#mean-statistic').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    mean_statistic();
  });

  //AJAX function for finding mean statistic. Allows for data to change without page reloading
  function mean_statistic(){
    console.log("mean_statistic is working!") //sanity check
    console.log($('#post-text').val())
  }
</script>
{% endblock statistic_javascript %}
