<!-- All tags with the form "bracket" "percent" some-text "percent" "bracket" are
     template tags. This means that another
     HTML file can extend the template. This is how the app fills the web page
     with different html based on user selections. For more information checkout
     "template extending" on Google-->

{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Smartgrid Command and Control Center{% endblock title %}</title>
    {% block library %}{% endblock library %}
  </head>
  <body>
    <h1>SmartGrid Command and Control Center</h1>
    <form action = "/dash/dash_statistics_1/" method = "get">
      <input type = "submit" value = "Statistics"  target="_self"/>
    </form>
    <form action = "/dash/dash_load_data1/" method = "get">
      <input type = "submit" value = "Upload Data"  target="_self"/>
    </form>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }}"><strong>Message: </strong>{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %}

    {% block statistic %}
      <p>
        The SmartGrid Command and Control Center can compute a handful of statistics from it's database of power
        consumption readings. The current computable statistics are mean, standard deviation, minimum, maximum, and range.
        In addition, you can compute these statistics on either past consumption or temperature readings. The command
        and Control Center also has the capability of uploading data. To use either of these features just click on the
        corresponding button!
      </p>
    {% endblock statistic %}
    {% block statistic_javascript %}
    {% endblock statistic_javascript %}

    {% block upload_data %}
    {% endblock upload_data %}

    <form action = "/dash/" method = "get">
      <input type = "submit" value = "SmartGrid Reset"  target="_self"/>
    </form>

  </body>
</html>
