<h1>Smart Grid Statistics</h1>
<ul>
  <li>Total kWh in grid: {{sum_readings}}</li>
  <li>Mean kWh per house per hour: {{mean_readings}}</li>
</ul>


<h1>Mean Selector</h1>
<form action = "/dash/mean_statistic/" method = "get" target="_self">
   Metric:
      <input type = "radio" name="metric" value = "consumption"> Consumption/>
      <input type = "radio" name="metric" value = "kWh"> kWh/>
      <input type = "radio" name="metric" value = "outdoor_temp"> Outdoor Temperature/>
      <br>

  Data:
  <input type = "radio" name="data" value = "region"> Region/>
  <input type = "radio" name="data" value = "aggregator"> Aggregator/>
  <input type = "radio" name="data" value = "neighborhood"> Neighborhood/>
  <input type = "radio" name="data" value = "house"> House/>
  <input type = "radio" name="data" value = "appliance"> Appliance/>
  <input type = "radio" name="data" value = "reading"> Reading/>
  <br>

  <input type = "submit" value = "Submit" />
</form>
