<h1>Smartgrid Statistics</h1>
<h2>Mean Selector</h2>
<form action = "/dash/mean_statistic/" method = "get">
   Metric:
      <input type = "radio" name="metric" value = "consumption"> Consumption</input>
      <input type = "radio" name="metric" value = "kWh"> kWh</input>
      <input type = "radio" name="metric" value = "outdoor_temp"> Outdoor Temperature</input>
      <br>

  Data:
  <input type = "radio" name="data" value = "Region"> Region</input>
  <input type = "radio" name="data" value = "Aggregator"> Aggregator</input>
  <input type = "radio" name="data" value = "Neighborhood"> Neighborhood</input>
  <input type = "radio" name="data" value = "House"> House</input>
  <input type = "radio" name="data" value = "Appliance"> Appliance</input>
  <input type = "radio" name="data" value = "Readings"> Reading</input>
  <br>

  <input type = "submit" value = "Submit"  target="_self"/>
</form>

{% if mean_items >= 1 %}
  <p>Mean {{metric}} per {{data}} = {{mean_items}}</p>
{% endif %}
{% if mean_items == -1 %}
<p>{{data}} does not have a {{metric}} field. Please try again.</p>
{% endif %}

<form action="/dash/statistics/">
  <input type="submit" value="Reset" />
</form>
