<h1>Mean Selector</h1>
<form action = "/dash/mean_statistic/" method = "get" target="_self">
   Metric:
      <input type = "radio" name="metric" value = "consumption"> Consumption/>
      <input type = "radio" name="metric" value = "kWh"> kWh/>
      <input type = "radio" name="metric" value = "outdoor_temp"> Outdoor Temperature/>
      <br>

  Data:
  <input type = "radio" name="data" value = "Region"> Region/>
  <input type = "radio" name="data" value = "Aggregator"> Aggregator/>
  <input type = "radio" name="data" value = "Neighborhood"> Neighborhood/>
  <input type = "radio" name="data" value = "House"> House/>
  <input type = "radio" name="data" value = "Appliance"> Appliance/>
  <input type = "radio" name="data" value = "Readings"> Reading/>
  <br>

  <input type = "submit" value = "Submit" />
</form>

<p>{{mean_items}}</p>
{% if mean_items %}
<p>Mean {{metric}} per {{data}} = {{mean_items}}</p>
{% endif %}

<form action="/dash/statistics/">
  <input type="submit" value="Reset" />
</form>
