<h1>Smart Grid Visualizations</h1>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div id="container" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'heatmap'
          // marginTop: 40,
          // marginBottom: 80,
          // plotBorderWidth: 1
      },
      title: {
          text: 'Energy Consumption in Kilo Watt Hours per House per Region'
      },
      xAxis: {
          categories: [
            {% for entry in region_dataset %}'Region {{ entry.region_id }}'{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },

      yAxis: {
          categories: [
            {% for item in len_house_dataset %}'House {{ item }}'{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          title: null
      },

      colorAxis: {
        min: 0,
        minColor: '#FFFFFF',
        maxColor: Highcharts.getOptions().colors[0]
    },

    legend: {
        align: 'right',
        layout: 'vertical',
        margin: 0,
        verticalAlign: 'top',
        y: 25,
        symbolHeight: 280
    },

    tooltip: {
        formatter: function () {
            return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> used <br><b>' +
                this.point.value + '</b> kWh in house <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
        }
    },

      series: [{
          // name: 'Positive Usage',
          data: [
            {% for region in region_dataset %}
              {% for house in house_dataset %}
                [{{region.region_id}}, {{house.house_id}}, {{ house.house_consumption }}]{% if not forloop.last %}, {% endif %}
              {% endfor %}
            {% endfor %}
          ],
          color: 'green'
      }]
  });
</script>

<!-- <div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Readings By Positive Usage Or No Usage'
      },
      xAxis: {
          categories: [
            {% for entry in house_dataset %}'{{ entry.date_time }} Class'{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Positive Usage',
          data: [
            {% for entry in house_dataset %}{{ entry.positive_usage_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      }, {
          name: 'No Usage',
          data: [
            {% for entry in house_dataset %}{{ entry.no_usage_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'red'
      }]
  });
</script> -->
